flag_tool
__pycache__
*.pyc
.DS_Store
.vagrant
.env
minitwit_dd.pub
minitwit_dd
config.monitoring
server/access.log
server/itu-minitwit
.htpasswd
runner-build-errors.log
runner-build
*secrets
*.terraform
terraform/temp
terraform/shh_key